.view {
	max-width: 700px;
	text-align: center;
	margin: 0 auto;
	padding: 20px;
}

h4 {
	font-size: larger;
	color: #E6AF2E;
	margin-bottom: 30px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-weight: 100;
}

#recordBlock {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#recordBlock p{
	margin:2px
}