@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 10;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

:root {
	--mainColor: #2c5875;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
	--textColor: #eee;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
}

.userField {
	display: flex;
	align-items: center;
}

.userField h5 {
	padding: 0 1rem;
}

header h2 {
	color:#eee;
}

.walletButton{
    border: 2px solid black ;
    color: black ;
}

@media only screen and (max-width: 1024px) {

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav a {
		font-size: 1.5rem;
	}
}