.create {
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
}

label {
	text-align: left;
	display: block;
}

h4 {
	font-size: larger;
	color: #E6AF2E;
	margin-bottom: 30px;
}

.create input, .create textarea, .create select {
	width: 100%;
	padding: 6px 10px;
	margin: 10px 0;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-sizing: border-box;
	display: block;
}

.create button {
	background: #2c5875;
	margin: 10px;
	color: #fff;
	border: 0;
	padding: 8px;
	border-radius: 5px;
	cursor: pointer;
}

.create .disabledButton {
	background: gray;
}